body {
    margin: 0;
    padding: 0;
}
nav {
    list-style-type: none;
    overflow: hidden;
    display: flex;
}
ul {
    float: right;
}
ul li {
  float: right;
}
ul li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
ul li a:hover {
  background-color: #ba274a;
}

.activity-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
.activity-card-one {
    grid-column: 1 / 2;
}
.activity-card-two {
    grid-column: 2 / 3;
}
.activity-card img {
    width: 100%;
    height: auto;
}